<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Control</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Panel de Control</h1>
        
        <!-- Área de arrastrar y soltar archivos -->
        <div id="drop-area" style="width: 500px; height: 300px;">
            <h2>Arrastra y suelta archivos aquí</h2>
            <input type="file" id="fileElem" multiple webkitdirectory directory style="display:none">
        </div>
        
        <!-- Mostrar la lista de archivos en el servidor FTP -->
        <h2>Contenido del Servidor FTP:</h2>
        <ul id="fileList">
            {% for archivo in archivos %}
                <li>{{ archivo }}</li>
            {% endfor %}
        </ul>
        
        <a href="/">Cerrar Sesión</a>
    </div>

    <!-- Script de JavaScript para manejar la carga de archivos -->
    <script src="/static/script.js"></script>
</body>
</html>

