body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #555;
}

input[type="text"],
input[type="password"],
input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.drop-area {
  width: 500px;
  height: 300px;
  /* Agrega otros estilos necesarios */
}


#drop-area {
  background-color: #ffffff; /* Definir un color de fondo */
  background-image: url(/static/archivo.png);
  background-size: 100px 100px; /* Ajustar la imagen al tamaño del contenedor */
  background-position: center; /* Centrar la imagen */
  background-repeat: no-repeat;
  border: 2px dashed #ccc; /* Borde punteado */
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
}


input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

#drop-area.dragover {
  animation: pulse 1s infinite alternate;
}

